@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap');

:root {
    --font-family: '思源黑体', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-code: 'Source Code Pro', Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    --font-family-serif: '思源宋体', 'Source Serif Pro', serif;
}

.MathJax {
    width: 100%;
    overflow-x: auto
}

html.dark {
    // img{
    //     filter: invert(0.93) hue-rotate(180deg) !important;
    // }

    // 图片自动反色适应黑暗
    .dark-filter {
        filter: invert(1) hue-rotate(180deg) !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
    a {
        font-weight: 600;
    }
}

a {
    font-weight: 500;
}

.navbar .site-name {
    font-weight: 800 !important;
}

.custom-container {
    overflow: hidden;
}

#message-container .message {
    position: relative !important;
    box-shadow: 0 0 16px 0 #3aa675 !important;
    border: 1px solid #3aa675 !important;
    border-radius: 3px !important;
    transition: all 0.3s ease !important;
}

.page-meta {
    display: inherit !important;
}

.search-box input:focus {
    height: auto !important;
    border: 2px solid var(--search-accent-color) !important;
}

.search-box input {
    height: auto !important;
    border: 2px solid var(--search-border-color) !important;
}

.theme-default-content pre code {
    color: inherit;
}

.custom-container-title::before {
    width: 1.5rem !important;
    height: 1.5rem !important;
    left: -4px !important;
}

.url-table-container table {
    margin: auto !important;
    width: max-content !important;
}

.url-table-container th,
.url-table-container td {
    padding: 0.3em 1em !important;
}

.mermaid-wrapper .content svg {
    max-width: 100%;
    height: auto;
}

.CodeMirror-cursor {
    border-left: 2px solid #3aa675 !important;
}

.code-demo-wrapper {
    overflow: hidden;
}